#### 자가진단 1

In [1]:
print("Fun Programming!")

Fun Programming!

#### 자가진단 2

In [ ]:
print("Programming! It's fun.")

#### 자가진단 3

In [2]:
print("My name is Hong Gil Dong.")
print("I am 13 years old.")

My name is Hong Gil Dong.
I am 13 years old.

#### 자가진단 4

In [3]:
print("(@) (@)")
print("(=^.^=)")
print("(-m-m-)")

(@) (@)
(=^.^=)
(-m-m-)

#### 자가진단 5

In [4]:
print("I can program well.")
print("Dreams come true.")

I can program well.
Dreams come true.

#### 자가진단 6

In [5]:
print("My height")
print("170")
print("My weight")
print("68.600000")

My height
170
My weight
68.600000

#### 자가진단 7

In [7]:
a = 5
print(a,'Dan')
print("5 * 2 = 10")

5 Dan
5 * 2 = 10

#### 자가진단 8

In [17]:
print("{:>10s}{:>10s}{:>10s}".format('item','count','price'))
print("{:>10s}{:10d}{:10d}".format('pen',20,50))
print("{:>10s}{:10d}{:10d}".format('note',5,95))
print("{:>10s}{:10d}{:10d}".format('eraser',110,97))

      item     count     price
       pen        20        50
      note         5        95
    eraser       110        97

#### 형성평가 1

In [18]:
print('My name is Hong')

My name is Hong

#### 형성평가 2

In [19]:
print('My hometown')
print('Flowering mountain')

My hometown
Flowering mountain

#### 형성평가 3

In [20]:
print("TTTTTTTTTT")
print("TTTTTTTTTT")
print("    TT")
print("    TT")

TTTTTTTTTT
TTTTTTTTTT
    TT
    TT

#### 형성평가 4

In [24]:
print('kor 90')
print('mat 80')
print('eng 100')
print('sum {}'.format(90+80+100))
print('avg {:.0f}'.format((90+80+100)/3))

kor 90
mat 80
eng 100
sum 270
avg 90

#### 형성평가 5

In [25]:
print("{:>15s}{:>15s}{:>15s}".format('Seoul','10,312,545','+91,375'))
print("{:>15s}{:>15s}{:>15s}".format('Pusan','3,567,910','+5,868'))
print("{:>15s}{:>15s}{:>15s}".format('Incheon','2,758,296','+64,888'))
print("{:>15s}{:>15s}{:>15s}".format('Daegu','2,511,676','+17,230'))
print("{:>15s}{:>15s}{:>15s}".format('Gwangju','1,454,636','+29,774'))

          Seoul     10,312,545        +91,375
          Pusan      3,567,910         +5,868
        Incheon      2,758,296        +64,888
          Daegu      2,511,676        +17,230
        Gwangju      1,454,636        +29,774